%article
  %header#gohome Galerie (Categorie/Albume)
  %ul#gallery_menu.arrow-grey
    %li#01<
      %strong Pardoseli
      %ul#ul_01
        %li Tratare
        %li Șlefuire
        %li etc...
    %li<
      %strong Altă categorie
      %ul#ul_02
