%article
  %header#gohome Produse curăţenie
  %ul#products_menu.arrow-grey
    %li#01<
      %strong Detergenți
      %ul#ul_01
        %li 3TOP
        %li Suprafețe
        %li Blocuri igienice
        %li Pardoseli
    %li#02<
      %strong Aparate/Maşini
      %ul#ul_02
    %li#03<
      %strong Ustensile
      %ul#ul_03
